/* style.css */

/*index.html */
.container {
  display: flex;
  flex-direction: column;
  background-color: cadetblue;
}

.heading {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0;
  font-family: monospace;
  font-size: 100px;
  font-weight: 500;
  color: #101010;
  padding: 70px 70px;
}

.recipe {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: monospace;
  font-size: 40px;
  list-style-type: none;
} 

.recipe a {
  padding: 20px;
  text-decoration: none;
  color: #101010;
}

.recipe a:hover {
  font-size: larger;
}

.remy {
  display: flex;
  flex-direction: row;
  align-self: center;
  width: 30vw;
  height: 40vh;
}

img {
  border-radius: 16px;
}

/* lasagna.html */

.lasagna-container {
  background-color:khaki;
  font-family: monospace;
  color: #101010;
  margin-left: 5%;
}

.lasagna-heading {
  font-size: 70px;
  font-weight: 400;
  padding-bottom: 20px;
}

.lasagna-img {
  width: 40vw;
  height: 30vh;
}

/* salmon.html */

.salmon-container {
  background-color:violet;
  font-family: monospace;
  color: #101010;
  margin-left: 5%;
}

.salmon-heading {
  font-size: 70px;
  font-weight: 400;
  padding-bottom: 20px;
}

.salmon-img {
  width: 20vw;
  height: 50vh;  
}

/* chicken-alfredo.html */

.alfredo-container {
  background-color:burlywood;
  font-family: monospace;
  color: #101010;
  margin-left: 5%;
}

.alfredo-heading {
  font-size: 70px;
  font-weight: 400;
  padding-bottom: 20px;
}

.alfredo-img {
  width: 25vw;
  height: 40vh;
}